/* Create an Heading at the center and make capitalized. */
#text_tranformation{
    text-transform: capitalize;  /*This is used for captalized*/
    text-align: center;
    font-size: 20px;
    color: brown;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: blue ;
}
/* Use Font family for the whole page to TomeNewRoman. */
body{
    font-family:'Times New Roman'; 
}

/* Create one div inside another dive.
    Set id and text outer to outer div,
    Set id and text inner to inner div,
    Set outer div text size to 25px
    Set inner to 10px */

#outer{
    font-size: 25px; /*This provide 25px for tex*/
    font-style: italic;
    color: aqua;
    text-decoration: underline;
    text-decoration-color: red;
}
#inner{
    font-size: 10px; /*This provide 10px for tex*/
    color: bisque;
    text-decoration: underline;
    text-decoration-color: brown;
}